// Here you can add other styles
.card-body{
    background-color: #f8f8f8;
    padding: 15px 20px;
    box-shadow: 5px 5px 20px #9d9999;
    border-radius: 5px;
}
.editor_container {
    background-color: white;
    padding: 5px 8px;
    border: 1px solid #b1b1b1;
  }